body{
    padding:0;
    margin: 0;
}

#main{
    display: block;
}
#login{
    display: none;
}

#heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    text-align: center;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 32px;

}

#messages{
    height:90vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #DCF8C6;
    /* align-items: flex-end; */
}
.text{
    margin:0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    width: fit-content;
    background-color: rgb(196, 244, 228);
}
.sent{
    align-self: flex-end;
}